body {
  font-family: 'Montserrat', sans-serif;
}

.container {
  margin: 30px;
 padding: 15px;
}

@media (min-width: 48em) {
  .container {
    padding: 30px;
  }
}
.header {
    background-color: #000000;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    left:0;
  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #000000;
  }
  
  .header li a {
    display: block;
    padding: 20px 20px;
    font-size: 16px;
    color: white;
    text-decoration: none;
    border-radius: 5%;
  }
  
  .header li a:hover {
    background-color: #4a4545;
  }
  
  .header .logo {
    display: block;
    width: 5vw;
    float: left;
    padding: 10px 20px;
    text-decoration: none;
    margin-left: 2%;
  }

  #logo {
    width: 100%;
  }

  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .5s ease-out;
  }

  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background 0.2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }

  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }

  @media (min-width: 48em) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .menu {
      clear: none;
      float: center;
      padding-left: 10%;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
  }

.main-head {
    margin: 5%;
    margin-top: 25%;
    text-align: center;
    font-size: 200%;
}

@media (min-width: 48em) {
    .main-head {
        margin-top: 15%;}}

.divider {
    width: 80px;
    background: #000;
    height: 1px;
    display: block;
    margin: 20px auto;
  }

.btn {
    border: solid 5px #c7aacf;
    border-radius: 3px;
    padding: 15px 20px;
    margin: 40px;
    width: 20%;
    text-align: center;
    background-color: #ad93b4;
    color: #ffffff;
    font-size: 18px;
    outline: none;
    cursor: pointer;
}
.btn:active {
    transform: scale(1.1);
}

a {
    color: black;
    text-decoration: none;
    font-size: 150%;
}

.fade-in {
    opacity: 0;
    transition: opacity 1000ms ease-in;
}

.fade-in.appear {
    opacity: 1;
}

.from-right {
  grid-column: 3 / 4;
  transform: translateX(200%);
  transition: transform 800ms ease-in;
}

.from-right.appear {
  transform: translateX(0);
}

.column{
  display: flex;
  
}
.about-me img {
  width: 20vw;
  padding-left: 50%;
  margin-top: -30%;
}

.mobile-picture {
  display: none;
} 
@media (max-width: 768px) {
  .mobile-picture {
      display: block; /* Show the picture on mobile */
      text-align: center;
  }

  .mobile-picture img {
    width: 50vw;
  }

  /* Optionally hide the original picture on mobile */
  .about-me {
      display: none;
  }}



footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #000;
    color: white;
    margin:-5%;
    padding-top: 5%;
}
.logo-footer {
    width: 5%;
}

.social {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 15px;
}

.social li {
    text-align: center;
    display: inline-block;   
  
}
.social .fa {
  width: 50px;
  height: 50px;
  color: #ffffff;
  padding-top: 30%;
  padding-bottom: 0;
}

.fa:hover {
    background-color: #fff;
    transition: background-color 1s ease;
    border-radius: 25px;
    color: #000;
  }

  p {
    margin: 0;
    margin-bottom: 5%;
  }

.styled-table .mobile-table{
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table-info {
  background-color: #ad93b4;
    color: #ffffff;
    text-align: left;
    width: 15%;
}

.styled-table th,
.styled-table td,
.mobile-table th,
.mobile-table td {
    padding: 12px 15px;
    text-align: center;
}

.styled-table tr,
.mobile-table tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.mobile-table tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tr:last-of-type {
  border-bottom: 2px solid #ad93b4;
}

.mobile-table {
  display: none;
}
/* mobile table*/
@media (max-width: 768px) {
  .mobile-table {
      display: block; /* Show the table on mobile */
  }

  /* Optionally hide the first table on mobile */
  .styled-table {
      display: none;
  }
  .table-info {
    width: 30%;
  }
  .hidden_row {
    display: none;
  }

  .header .logo {
    width: 15vw;}

  footer img.logo-footer {
    width: 15vw;
  }

  button.btn-send {
    width: 30vw;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  
}



form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
}

form input, form textarea {
  margin: 10px 0;
  padding: 20px;
  outline: none;
  border: 0;
  background: #f5f5f5;
  font-size: 16px;
}

.barrier, .barrier1 {
  height: 31vw;
  background-image: url(../img/stairs.jpg);
  background-size: cover;
  margin-left: -8px;
  background-position: -5%;
  background-repeat: no-repeat;
  width: 108%;
}

.barrier2 {
  background-image: url(../img/sasiuvinys.jpg);
  background-position: -9%;
}

.barrier3 {
  background-image: url(../img/matematika.jpg);
  background-position: -9%;
}

.barrier4 {
  background-image: url(../img/kolba2.jpg);
  background-position: -9%;
}

.barrier5 {
  background-image: url(../img/table6.jpg);
  background-position: -9%;
}

h6 {
  white-space:nowrap;
  color:#ad93b4;
  display: inline;
}

address {
  display: flex;
  flex-direction: column;
}

span {
  padding: 8px;
}

@media (min-width: 768px) {
  .mobile-divider {
      display: none; /* Hike the divider on PC */
  }
  .btn-send {
    width: 40%;
    margin-left: 25%;
  }
  }
